services:
  db:
    image: postgres:18.1-alpine
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_USER=user_admin
      - POSTGRES_PASSWORD=sua_senha_forte
      - POSTGRES_DB=meu_banco_de_dados
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: